body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(0,67,135);
    background: linear-gradient(121deg, rgba(0,67,135,1) 10%, rgba(0,164,38,1) 40%, rgba(0,164,38,1) 50%, rgba(0,67,135,1) 90%);
}

form,
section {
    padding: 2em;
    background-color: white;
    max-width: 720px;
}

form h1,
section h1 {
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    padding: 0;
    margin: .2em 0;
    color: rgb(85, 85, 85);
}

form div,
section div {
    display: block;
    padding: 5px 0;
    width: 100%;
    margin-bottom: .5em;
}

form div label,
form div input[type="text"] {
    display: block;
    width: 100%;
}

form div input[type="text"] {
    border: none;
    border-bottom: 1px solid rgb(23, 23, 119);
    height: 30px;
    font-size: 1.1em;
    outline-color: rgb(212, 212, 255);
}

form div label,
section div {
    color: rgb(23, 23, 119);
    font-weight: bold;
}

form div button[type="submit"],
section div button[type="button"] {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 5px;
    font-size: 1.1em;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(23, 23, 119);
    background-color: rgb(59, 59, 192);
    color: white;
}