body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #99502e;
    background-image: url("./images/black-linen.png");
}

.main {
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    border-top: 2px solid #403632;
    border-bottom: 2px solid #403632;
}

.main .content {
    display: block;
    margin: 0 auto;
    padding: 2em 0;
    max-width: 720px;
}

.main .content h1 {
    padding: 0;
    margin: .2em;
    display: block;
    text-align: center;
    font-size: 3em;
    color: white;
}

.main .content .content-block {
    width: 100%;
}

.main .content .content-block label,
.main .content .content-block input {
    display: block;
    width: 100%;
}

.main .content .content-block label {
    font-size: 1.2em;
    color: rgb(58, 76, 175);
    font-weight: bold;
}

.main .content .content-block input {
    border: none;
    border-bottom: 1px solid rgb(23, 23, 119);
    height: 30px;
    font-size: 1.1em;
    outline-color: rgb(230, 230, 230);
    margin-bottom: .8em;
}

.main .content .content-block button[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    width: 80%;
    padding: 5px;
    font-size: 1.1em;
    outline: none;
    border-radius: 5px;
    border: 2px solid blue;
    background-color: rgb(57, 95, 197);
    color: white;
}



.main .registro-content {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

.main .registro-content .head {
    display: flex;
    justify-content: space-between;
}

.main .registro-content .head h1 {
    padding: 0;
    margin: .2em;
    font-size: 3em;
    color: rgb(53, 53, 53);
}

.main .registro-content .head button {
    padding: .5em;
    background-color: rgb(16, 158, 75);
    color: white;
    font-size: 1.2em;
    align-self: center;
    border: 2px solid green;
    border-radius: .4em;
}

.main .registro-content table {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
}
.main .registro-content table td {
    border: 1px solid #CCC;
    padding: .5em;
}

.main .registro-content table thead {
    font-size: 1.1em;
    font-weight: bold;
}

.main .registro-content table tbody td:last-child {
    text-align: center;
    width: 150px;
}

.main .registro-content table tbody td:last-child button {
    font-weight: bold;
    background-color: #ec6850;
    color: white;
    border: 2px solid red;
    padding: .4em;
    width: 70%;
    border-radius: .5em;
}

.main .registro-content table tbody td[colspan="2"] {
    font-weight: bold;
    color: rgb(107, 107, 107);
    font-style: italic;
}

.main .registro-content .content-block label,
.main .registro-content .content-block input {
    display: block;
    width: 100%;
}

.main .registro-content .content-block input {
    border: none;
    border-bottom: 1px solid rgb(23, 23, 119);
    height: 30px;
    font-size: 1.1em;
    outline-color: rgb(230, 230, 230);
    margin-bottom: .8em;
}


.main .registro-content .content-block button {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    width: 80%;
    padding: 5px;
    font-size: 1.1em;
    outline: none;
    border-radius: 5px;
    border: 2px solid blue;
    background-color: rgb(57, 95, 197);
    color: white;
}