body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-nav {
    display: flex;
    justify-content: center;
    background-color: rgb(49, 102, 0);
}

.menu-root,
.submenu-root {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-root .menu {
    display: inline-block;
}
.menu {
    position: relative;
}
.submenu-root {
    display: none;
    position: absolute;
    top: 3.1em;
    background-color: rgb(49, 102, 0);
}
.menu a,
.submenu a {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 1em 2em;
    transition: .5s ease all;
    background-color: transparent;
}
.menu a:hover,
.submenu a:hover {
    background-color: rgb(31, 44, 78);
}

.main-section {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./images/covid19-transparent.png') no-repeat;
    background-position: center;
    background-size: contain;
}
.main-section section {
    padding: 1em;
    max-width: 720px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 40px white;
    border: 1px solid white;
}
.main-section section h1 {
    text-align: center;
    color: rgb(78, 153, 223);
    font-size: 4em;
}

.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 44, 78);
    height: 5em;
    font-size: .8em;
    color: rgb(202, 202, 202);
}